.col.s12.m7
  %h2.header Name
  .card.horizontal
    .card-image
      %img{:src => "https://lorempixel.com/100/190/nature/6"}/
    .card-stacked
      .card-content
        %p I am a very simple card. I am good at containing small bits of information.
      .card-action.cyan.accent-3
        -if user_signed_in?
          %a.white-text{:href => "#"} USER'S PAGE
          %a.white-text{:href => "#"} EDIT
          %a.white-text{:href => "#"} DELETE
        - else
          %a.white-text{:href => "#"} USER'S PAGE


