- messages.each do |message|
  .col.s12.m7
    %h2.header
    .card.horizontal
      .card-image
        = image_tag message.picture.url
      .card-stacked
        .card-content
          %p 
            = simple_format(h(message.body))
        .card-action.cyan.accent-3
          = link_to user_path(message.user), class: 'grey-text' do
            = message.user.name
          

