.navbar-fixed
  %nav
    .nav-wrapper
      %a.brand-logo.center{ href: "#" } MINI App
      %ul#nav-mobile.right.hide-onmed-and-down
        %li
          %a{ href: "#" } New
        %li
          %a{ href: "#" } Sign In
        %li
          %a{ href: "#" } Sign Out