%nav
  .nav-wrapper
    %a.brand-logo{ href: "#" } Logo
    %ul#nav-mobile.right.hide-onmed-and-down
      %li
        %a{ href: "#" } Sass
      %li
        %a{ href: "#" } Components
      %li
        %a{ href: "#" } JavaScript
