.col.s12.m7{
  width: 75%;
  margin: 0 auto;
}

.header{
  margin-bottom: 0;
  font-weight: bold;
  color: #666;
  height: 20px;
}

.card-content{
  font-size: 20px;
}

.card-action{
  font-weight: bold;
}

